./WeatherTest/WeatherTest/ClientApp/node_modules/
./WeatherTest/WeatherTest/ClientApp/node_modules/*
./WeatherTest/WeatherTest/bin/
./WeatherTest/WeatherTest/bin/*
./WeatherTest/WeatherTest/obj/
./WeatherTest/WeatherTest/obj/*
WeatherTest/WeatherTest/ClientApp/node_modules/
WeatherTest/WeatherTest/ClientApp/node_modules/*
WeatherTest/WeatherTest/bin/
WeatherTest/WeatherTest/bin/*
WeatherTest/WeatherTest/obj/
WeatherTest/WeatherTest/obj/*
